<section class="allergen-legend" aria-labelledby="allergen-legend-title">
  <h3 id="allergen-legend-title">Allergenkennzeichnung</h3>
  <ul class="allergen-legend__list">
    <li><span class="allergen">GL</span> Glutenhaltiges Getreide <small>(Weizen, Roggen, Gerste, Hafer, Dinkel, Khorasan)</small></li>
    <li><span class="allergen">CRU</span> Krebstiere</li>
    <li><span class="allergen">E</span> Eier</li>
    <li><span class="allergen">F</span> Fisch</li>
    <li><span class="allergen">PN</span> Erdnüsse</li>
    <li><span class="allergen">SO</span> Soja</li>
    <li><span class="allergen">M</span> Milch (inkl. Laktose)</li>
    <li><span class="allergen">TN</span> Schalenfrüchte/Nüsse <small>(z. B. ALM, HAZ, WAL, CAS, PEC, BRA, PIS, MAC)</small></li>
    <li><span class="allergen">CEL</span> Sellerie</li>
    <li><span class="allergen">MUS</span> Senf</li>
    <li><span class="allergen">SES</span> Sesam</li>
    <li><span class="allergen">SO2</span> Schwefeldioxid/Sulfite</li>
    <li><span class="allergen">LUP</span> Lupinen</li>
    <li><span class="allergen">MOL</span> Weichtiere</li>
  </ul>
  <p class="allergen-legend__note">Detaillierte Auskunft zu einzelnen Zutaten erteilt Ihnen gerne unser Team.</p>
</section>
